.hero
    height: 100vh
    min-height: 500px
    position: relative
    display: flex
    align-items: center
    background-image: url(~assets/img/hero-bg.jpg)
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    &::before, &::after
        content: ''
        display: block
        position: absolute
        pointer-events: none
        z-index: 2
        bottom: 0%
    &::before
        height: 60%
        width: 70%
        right: 0
        background: linear-gradient(350deg, rgba(black, 1) 0%, rgba(black, 0) 50%)
    &::after
        width: 100%
        left: 0
        height: 20%
        background: linear-gradient(180deg, rgba(black, 0) 0%, rgba(black, 1) 80%)
    &__body
        max-width: 380px
    &__title-video
        display: block
    &__title
        font-family: Audiowide
        font-size: 47px
        margin-bottom: 30px
        position: relative
        display: inline-block
        &_animated
            &:before, &:after
                content: attr(data-glitch-text)
                font-family: inherit
                font-size: inherit
                font-weight: inherit
                color: inherit
                position: absolute
                overflow: hidden
                top: 0
                left: 0
            &:before
                left: 2px
                text-shadow: -2px 0 var(--main-pink)
                clip: rect(44px, 450px, 56px, 0)
                animation: glitch-anim 5s infinite linear alternate-reverse
            &:after
                left: -2px
                text-shadow: -2px 0 var(--main-blue), 2px 2px var(--main-pink)
                animation: glitch-anim2 1s infinite linear alternate-reverse

    &__description
        font-size: 14px
        line-height: 160%
        margin-bottom: 40px
    &__button
        padding: 14px 16px
        background-size: 100% 99%
        background-image: url('~assets/img/gradients/hero-button-gradient.svg')
        display: flex
        align-items: center
        svg, img
            margin-top: -4px
            margin-right: 10px

@media screen and ( max-width: 660px )
    .hero
        background-position: 45% -55px
        &__title
            font-size: 40px
            margin-bottom: 15px

@keyframes glitch-anim
    $steps: 20
    @for $i from 0 through $steps
        #{percentage($i*(1/$steps))}
            clip: rect(random(100)+px, 9999px, random(100)+px, 0)

@keyframes glitch-anim2
    $steps: 20
    @for $i from 0 through $steps
        #{percentage($i*(1/$steps))}
            clip: rect(random(100)+px, 9999px, random(100)+px, 0)
