.switcher
    --pin-gap-x: 2px
    --pin-size: 16px

    --track-width: 40px
    --track-height: 22px

    height: var(--track-height)
    width: var(--track-width)
    border-radius: var(--track-height)
    display: block
    cursor: pointer
    border: 1px solid #4E4E62
    user-select: none
    position: relative
    background: linear-gradient(to right, #0F0D19 0%, #0F0D19 100%)
    &_checked
        background: linear-gradient(to right, #482357 0%, #2B3158 100%)
    &__input
        opacity: 0
        visibility: hidden
        position: absolute
    &__pin
        top: 50%
        left: var(--pin-gap-x)
        transform: translate(0%, -50%)
        position: absolute
        transition: left .2s ease-in-out 0s
        height: var(--pin-size)
        width: var(--pin-size)
        border-radius: 100%
        display: block
        background: linear-gradient(to right bottom, #7F6E88 0%, #6E6F83 100%)
        &_checked
            left: calc(var(--track-width) - var(--pin-size) - var(--pin-gap-x) * 2)
            background: linear-gradient(to right bottom, #CB65F9 0%, #828AFB 100%)

